// Layout
//
// Styles for managing the structural hierarchy of the site.

.social {
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    padding: 0 0.5em;
  }
  i {
    font-size: 28px;
  }
}

footer {
  h2 {
    margin-bottom: 1em;
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  .copyright {
    color: #d1d1d1;
    @include bp-small {
      text-align: center;
    }
    @include bp-medium {
      text-align: center;
    }
  }
}
